In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [12]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

In [18]:
data[data['native-country'] == 'Germany']

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
122,30,Private,77143,Bachelors,13,Never-married,Exec-managerial,Own-child,Black,Male,0,0,40,Germany,<=50K
280,22,Private,34918,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,15,Germany,<=50K
767,22,Private,151790,Some-college,10,Married-civ-spouse,Sales,Wife,White,Female,0,0,30,Germany,<=50K
1009,26,Private,109186,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,Germany,<=50K
1142,59,Federal-gov,212448,HS-grad,9,Widowed,Sales,Unmarried,White,Female,0,0,40,Germany,<=50K
1346,61,Self-emp-inc,134768,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,Germany,>50K
1425,46,Private,134727,11th,7,Divorced,Machine-op-inspct,Unmarried,Amer-Indian-Eskimo,Male,0,0,43,Germany,<=50K
1973,30,Private,111415,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,55,Germany,<=50K
2233,35,Private,178322,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,Germany,>50K
2586,26,?,152046,11th,7,Never-married,?,Not-in-family,White,Female,0,0,35,Germany,<=50K
2788,27,State-gov,194773,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,Germany,<=50K
2899,22,Private,24896,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,30,Germany,<=50K
3159,58,Private,235624,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Germany,>50K
3348,30,Private,116508,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Germany,<=50K
3673,39,Private,183898,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,60,Germany,>50K
3743,29,Private,31166,HS-grad,9,Divorced,Prof-specialty,Not-in-family,Other,Female,0,0,30,Germany,<=50K
4073,33,Private,131776,Bachelors,13,Divorced,Prof-specialty,Unmarried,White,Female,914,0,40,Germany,<=50K
4138,20,Self-emp-not-inc,186014,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,12,Germany,<=50K
4354,53,Federal-gov,199720,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,60,Germany,>50K
4536,30,Local-gov,364310,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Black,Female,0,0,40,Germany,<=50K
4704,60,Self-emp-not-inc,88570,Assoc-voc,11,Married-civ-spouse,Transport-moving,Wife,White,Female,0,0,15,Germany,>50K
4748,51,Private,183611,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,White,Male,0,0,55,Germany,<=50K
5143,57,Private,372967,10th,6,Divorced,Adm-clerical,Other-relative,White,Female,0,0,70,Germany,<=50K
5346,20,?,432376,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,Germany,<=50K
5388,35,Private,275364,Bachelors,13,Divorced,Tech-support,Unmarried,White,Male,7430,0,40,Germany,>50K
5705,43,Self-emp-not-inc,240170,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,Germany,<=50K
5720,28,?,55950,Bachelors,13,Never-married,?,Own-child,Black,Female,0,0,40,Germany,<=50K
5796,47,Federal-gov,34845,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,45,Germany,>50K
6318,29,Private,221366,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,5013,0,40,Germany,<=50K
6344,46,Federal-gov,80057,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,Germany,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26577,35,Private,219546,Some-college,10,Never-married,Craft-repair,Not-in-family,White,Male,0,0,45,Germany,<=50K
26750,20,Private,323009,HS-grad,9,Never-married,Adm-clerical,Unmarried,White,Female,0,0,40,Germany,<=50K
26882,29,Local-gov,190525,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1848,60,Germany,>50K
26896,47,Self-emp-inc,205100,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,38,Germany,<=50K
27332,46,Private,389843,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,Germany,>50K
27855,46,Federal-gov,308077,Prof-school,15,Separated,Prof-specialty,Unmarried,White,Female,0,0,40,Germany,>50K
27856,60,Private,159049,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,70,Germany,>50K
27955,34,Private,366898,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Germany,<=50K
27982,66,Private,175558,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,20,Germany,<=50K
28183,32,Private,299635,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,Germany,<=50K
28197,40,Private,287008,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,Germany,>50K
28669,57,Private,140426,Doctorate,16,Married-civ-spouse,Tech-support,Husband,White,Male,0,1977,40,Germany,>50K
28697,71,Private,97870,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,15,Germany,<=50K
29468,43,Local-gov,180407,Bachelors,13,Divorced,Exec-managerial,Unmarried,White,Male,0,0,42,Germany,<=50K
29505,41,Private,206470,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Germany,<=50K
30400,50,Self-emp-inc,152810,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,70,Germany,<=50K
30865,30,Self-emp-not-inc,113838,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,3137,0,60,Germany,<=50K
30894,20,Private,303565,Some-college,10,Never-married,Handlers-cleaners,Own-child,Black,Male,0,0,40,Germany,<=50K
30982,51,Private,189511,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,50,Germany,>50K
31118,65,?,231604,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,45,Germany,<=50K
31172,31,Local-gov,236487,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,Germany,<=50K
31181,29,Private,82393,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Asian-Pac-Islander,Male,0,0,40,Germany,<=50K
31201,21,?,176356,Some-college,10,Never-married,?,Own-child,White,Female,0,0,10,Germany,<=50K
31248,34,Private,130369,HS-grad,9,Divorced,Transport-moving,Unmarried,White,Female,1151,0,48,Germany,<=50K
31446,44,Private,168515,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,Germany,<=50K
32074,30,Private,318749,Assoc-voc,11,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,35,Germany,<=50K
32101,45,Private,174794,Bachelors,13,Separated,Prof-specialty,Unmarried,White,Female,0,0,56,Germany,<=50K
32141,34,Private,193344,Some-college,10,Never-married,Adm-clerical,Unmarried,White,Female,0,0,40,Germany,<=50K
32236,26,Private,323044,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,Germany,>50K
32341,74,Self-emp-not-inc,199136,Bachelors,13,Widowed,Craft-repair,Not-in-family,White,Male,15831,0,8,Germany,>50K

In [17]:
data['native-country'].value_counts(normalize=True)

United-States                 0.895857
Mexico                        0.019748
?                             0.017905
Philippines                   0.006081
Germany                       0.004207
Canada                        0.003716
Puerto-Rico                   0.003501
El-Salvador                   0.003255
India                         0.003071
Cuba                          0.002918
England                       0.002764
Jamaica                       0.002488
South                         0.002457
China                         0.002303
Italy                         0.002242
Dominican-Republic            0.002150
Vietnam                       0.002058
Guatemala                     0.001966
Japan                         0.001904
Poland                        0.001843
Columbia                      0.001812
Taiwan                        0.001566
Haiti                         0.001351
Iran                          0.001321
Portugal                      0.001136
Nicaragua                     0.001044
Peru                          0.000952
France                        0.000891
Greece                        0.000891
Ecuador                       0.000860
Ireland                       0.000737
Hong                          0.000614
Trinadad&Tobago               0.000584
Cambodia                      0.000584
Thailand                      0.000553
Laos                          0.000553
Yugoslavia                    0.000491
Outlying-US(Guam-USVI-etc)    0.000430
Hungary                       0.000399
Honduras                      0.000399
Scotland                      0.000369
Holand-Netherlands            0.000031
Name: native-country, dtype: float64

In [27]:
data[data['salary'] == '>50K']['age'].describe()

count    7841.000000
mean       44.249841
std        10.519028
min        19.000000
25%        36.000000
50%        44.000000
75%        51.000000
max        90.000000
Name: age, dtype: float64

In [28]:
data[data['salary'] == '<=50K']['age'].describe()

count    24720.000000
mean        36.783738
std         14.020088
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

In [29]:
data[data['education'] == 'Bachelors']['salary'].value_counts()

<=50K    3134
>50K     2221
Name: salary, dtype: int64

In [30]:
data[(data['education'] == 'Bachelors') | 
     (data['education'] == 'Masters') | 
     (data['education'] == 'Doctorate') | 
     (data['education'] == 'Prof-school') | 
     (data['education'] == 'Assoc-acdm') | 
     (data['education'] == 'Assoc-voc')]['salary'].value_counts()

<=50K    5981
>50K     4535
Name: salary, dtype: int64

In [31]:
data[data['salary'] == '>50K']['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [33]:
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [34]:
data[data['race'] == 'Amer-Indian-Eskimo']['age'].max()

82

In [36]:
data[(data['marital-status'] == 'Married-civ-spouse') |
     (data['marital-status'] == 'Married-spouse-absent') |
     (data['marital-status'] == 'Married-AF-spouse')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
33,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
34,22,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
37,19,Private,544091,HS-grad,9,Married-AF-spouse,Adm-clerical,Wife,White,Female,0,0,25,United-States,<=50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
39,48,Self-emp-not-inc,265477,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
40,31,Private,507875,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,43,United-States,<=50K
41,53,Self-emp-not-inc,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
42,24,Private,172987,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States,<=50K
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
46,53,Private,144361,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States,<=50K
48,41,State-gov,101603,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
50,25,Private,32275,Some-college,10,Married-civ-spouse,Exec-managerial,Wife,Other,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32501,71,Private,138145,9th,5,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
32502,35,Local-gov,79649,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
32503,47,Private,312088,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
32506,38,Private,32916,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,55,United-States,>50K
32507,50,Private,302372,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
32510,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,?,>50K
32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
32514,40,Private,142657,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,45,United-States,<=50K
32515,66,Federal-gov,47358,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,3471,0,40,United-States,<=50K
32517,36,Private,131459,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
32518,57,Local-gov,110417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K
32519,46,Private,364548,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,>50K
32521,33,Private,273243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,<=50K
32522,58,Private,147707,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
32526,32,Private,211349,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
32528,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [39]:
data[(data['marital-status'] == 'Married-civ-spouse') |
     (data['marital-status'] == 'Married-spouse-absent') |
     (data['marital-status'] == 'Married-AF-spouse')]['salary'].value_counts()

<=50K    8681
>50K     6736
Name: salary, dtype: int64

In [40]:
data[(data['marital-status'] != 'Married-civ-spouse') &
     (data['marital-status'] != 'Married-spouse-absent') &
     (data['marital-status'] != 'Married-AF-spouse')]['salary'].value_counts()

<=50K    16039
>50K      1105
Name: salary, dtype: int64

In [42]:
data['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

In [43]:
data[(data['marital-status'] == 'Widowed') |
     (data['marital-status'] == 'Separated') |
     (data['marital-status'] == 'Divorced') |
     (data['marital-status'] == 'Never-married')]['salary'].value_counts()

<=50K    16039
>50K      1105
Name: salary, dtype: int64

In [44]:
data['hours-per-week'].max()

99

In [46]:
data[data['hours-per-week'] == 99].shape[0]

85

In [47]:
data[data['hours-per-week'] == 99]['salary'].value_counts(normalize=True)

<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

In [48]:
data[(data['native-country'] == 'Japan') &
     (data['salary'] == '<=50K')]['hours-per-week'].mean()

41.0

In [49]:
data[(data['native-country'] == 'Japan') &
     (data['salary'] == '>50K')]['hours-per-week'].mean()

47.958333333333336